@charset "utf-8";
/* CSS Document */



/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms

2.0 - Navigation Menus
	2.1 - Main
	2.2 - Footer

3.0 - Content
	3.1 - Site Structure
	3.2 - Site Header
	3.3 - Site Footer

4.0 - Media

5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 1180px;
}

.row {
	overflow: auto;
}

.wrapper, header:last-child, .intro, .row:nth-child(3), footer ul, form {
	margin: 0 auto;
}

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

* {
	font-family: 'Montserrat', sans-serif;
}

h1, nav li:first-child a, section .row section a {
	font-family: 'Scope One', serif;
}

ul, h1, p, h2 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

header span, nav li:first-child, h2, form p:last-child {
	text-transform: uppercase;
}



h1, section .row section a, label, form p {
	color: #003441;
}

nav li:first-child a {
	font-size: 35px;
	margin-left: 40px;
}

header:last-child h2, footer ul, form p:last-child {
	text-align: center;
}

p, nav li, h2, label {
	font-weight: 500;
}

nav li, p {
	font-size: 18px;
}

/*	1.1 - Headings        */

h1 {
	font-size: 60px;
	font-weight: 200;
	line-height: 42px;
}

h1 span, header:last-child h2, form p:last-child {
	font-size: 20px;
}

h1 span, #w-b-row p {
	font-weight: 600;
}

#w-b-row h2 {
	font-size: 20px;
}



/*	1.2 - Body Copy       */

p {
	line-height: 26px;
	margin-bottom: 10px;
}

.intro header, .intro h1 {
	margin-bottom: 37px;
}

#w-b-row p, p:nth-child(4) {
	font-size: 14px;
}

#w-b-row p {
	padding: 0 20px;
}

p:nth-child(4) {
	text-align: right;
}


/*	1.3 - Buttons         */

a {
	text-decoration: none;
}

/*	1.4 - Forms           */

input:first-child {
    width: 305px;
}

#email {
	width: 646px;
}

input {
    padding: 14px;
}

label input {
	display: block;
}

input, textarea {
    background-color: #e2eff0;
    border-width: 0;
}

label, form p {
    margin: 18px 0 5px;
    font-size: 19px;
}

form p:last-child a, header:last-child a {
	padding: 12px 50px;
}


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

li {
	list-style: none;
}

ul a, li, label:nth-child(3) {
	display: inline-block;
}

/*	2.1 - Main             */

#sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav li {
	padding: 38px 120px 42px 0;
}


/*	2.2 - Footer           */

footer span {
	display: none;
}

footer ul a {
	width: 43px;
	height: 43px;
}

footer li {
	margin: 0 10px;
}

footer li:first-child a {
	background: url(../img/sprite-facebook.png) no-repeat 0 0;
}

footer li:nth-child(2) a {
	background: url(../img/sprite-flickr.png) no-repeat 0 0;
}

footer li:last-child a {
	background: url(../img/sprite-twitter.png) no-repeat 0 0;
}

footer li a:hover {
	background-position: 0 -43px;
}

/*     hover     */

h1 span, nav li:first-child a, nav li a:hover {
	color: #a0c250;
}

#sticky li:first-child a:hover, header li a, header:last-child a, form a {
	color: #fff;
}

header:last-child a:hover, form p:last-child a:hover {
	background-color: #429b9e;
}

#w-b-row a:hover {
	text-decoration: underline;
}

#w-b-row a:hover, p:nth-child(4) {
	color: #429b9e;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */



#sticky, header:last-child a, form p:last-child a {
	background-color: #003441;
}


/*	3.1 - Site Structure    */

.col, .row > img, label:first-child {
	float: left;
}

.col:last-child, .row > div:last-child, label:nth-child(2), form p:last-child {
	float: right;
}

#home .col {
	margin: 120px 0;
}

header:last-child, form p:last-child {
	margin-top: 30px;
}

#home .col:nth-child(2) {
	margin-left: 140px;
}

section .row:nth-child(2) section:nth-child(2) {
	margin-left: 92px;
}

#w-b-row .row {
	margin-top: 100px;
}

#w-b-row .row:last-child, form p:last-child {
	margin-bottom: 80px;
}

form {
    margin: 40px auto;
	width: 645px;
}

/* align photo about page */

.intro img {
	margin-top: 6px;
}

/* float widths  */

#home .col, img[src*="index-"] {
	width: 300px;
}

.row > div:last-child {
	width: 368px;
}

section .row .col, img[src*="work"]:first-child {
	width: 335px;
}

#w-b-row div:last-child {
	width: 760px;
}

/*	3.2 - Site Header       */

section:nth-child(2) > header h1, .intro {
	margin-top: 200px;
}

.intro  {
	width: 750px;
}

#w-b-row header {
	padding: 20px 20px 0;
}

/*	3.3 - Site Footer       */

footer {
	padding: 240px 0 30px;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

img[src*="index-"] {
	height: 200px;
}

#w-b-row div:last-child section:first-child img {
	padding: 50px 75px;
}

#w-b-row div:last-child section:last-child img {
	padding: 0 30px;
}

#w-b-row img {
	height: 224px;
}

#w-b-row div:last-child img {
	border: 2px solid #d1d3d4;
}

#um-imgs div {
	width: 540px;
}

#um-imgs {
	margin: 100px 0;
}

#um-imgs div img:last-child {
	margin-top: 58px;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*	5.1 - Text Sizes        */

/*	5.2 - Colors            */

/*	5.3 - Alignments        */


